<section class="ascii">
	<div class="wrapper">
        <pre>
                              .-::::::--.                             
                      ./+++++/:-.....--:/+oooo/.                      
                  -+++:.`                    `./ooo:                  
               :++:``-:/oymNMd:         omMNds+/:.`/ss/`              
            .++-` `+hddmNMMMMMy         NMMMMMNmddh/ `:ys-            
          .o/`   -mMMMNs/-NMMMy         NMMM+-+hMMMMh`  .oy:          
        `o/``   `NMMMd`   NMMMy         NMMM:   :NMMMy    `oh-        
       /o``     /MMMM`    NMMMy         NMMM:    +MMMM`     .hs       
     `s:`       oMMMN     NMMMy         NMMM:    :MMMM-      `+d.     
    .s.`        oMMMN     NMMMy         NMMM:    :MMMM-        :m-    
   `s.`         oMMMN     NMMMs         mMMM:    :MMMM-         -m-   
   y.`          oMMMN     mMMNh        .mNMM-    :MMMM-         `:N.  
  o:`           oMMMN     /MMMNy:`   ./dNMMy     :MMMM-          `sh  
 .s``           oNmNm      -yMMNNmmmmNNMMm/      /NmmN.           `N/ 
 s-`         .+hNMsMM`       `-////////:.        sMymMNh/`        `od 
 h``       .sddmMMsMM`                           sMymMMmddo`       -M.
`h``      +dysymMMsMM` +ooooooooooooooooooooooo/ sMymMMmhsyh-      .N/
.y``     ods+shNMMsMM` Ny////oNMm::dMMMN::::::Ny sMymMMNhs+sh-     `N+
.h``    /mysshNMMMsMM` No `.  .Md  yMMMm      Ny sMymMMMNhssyh`    .N/
 d``    mmddmNMMMMsMM` No :Ny  Nd  sMMMm  oMMMMy sMymMMMMNmhhmo    :M-
 y:`   -MNNMMMMMMMsMM` No .o- /Md  oMMMm  .::+My sMymMMMMMMMNNd   `sN 
 :h``  :MMMMMMMMMMsMM` No     -md  +MMMm   ``-My sMymMMMMMMMMMm   .Ns 
  h:`  -MMMMMMMMMMsMM` No -mN. +d  oMMMm  +MMMMy sMymMMMMMMMMMd  `sN` 
  .d.`  mMMMMMMMMMsMM` No :Nm. +d  ommmm  +mmmMy sMymMMMMMMMMMo  /M/  
   :d.` +MMMMMMMMMsMM` No     .md      m      Ny sMymMMMMMMMMm` :Ns   
    /d.` yMMMMMMMMsMM` NhooooyNMm++++++N++++++Ny sMymMMMMMMMN- /Ny    
     :m:``sMMMMMMMsMM` :///////////////////////- sMymMMMMMMm-`oMo     
      .hs. -dMMMMMsMM`                           sMymMMMMNo`-dN:      
        /d+` -smMMsMM`                           sMymMmy/`.sNs`       
         `od+`  `-.--           -/++++/.         -yd+`  .sNy.         
           `+dy:`              mMMNNNNMMs++++++ohy/` `/hNs.           
              :yms:`           +mMMMMMNh:------.  ./yNd+`             
                 :sdds/.`        `.--.       `-+ymNy/`                
                    `:ohmdhso//:------:/+oyhmNds/.                    
                         `.:+osyyhhhhyyso+/-`                          
        </pre>
	</div>
</section>
